@use 'variables' as *;

@mixin title-text {
    font-family: 'kanit-medium';
    font-size: clamp(1rem, 0.8214rem + 0.8929vw, 1.625rem);
    line-height: 100%;
    color: $black-color;
}

@mixin placeholder-text {
    font-family: 'inter-medium';
    font-size: clamp(0.625rem, 0.5179rem + 0.5357vw, 1rem);
    line-height: 100%;
}

@mixin filter-text {
    font-family: 'kanit-medium';
    font-size: clamp(0.75rem, 0.6429rem + 0.5357vw, 1.125rem);
    line-height: 100%;
    color: $white-color;
    text-transform: uppercase;
}

@mixin choice-text {
    font-family: 'kanit-regular';
    font-size: clamp(0.625rem, 0.5179rem + 0.5357vw, 1rem);
    line-height: 100%;
    color: $purple-color;
}

@mixin modal-title-text {
    font-family: 'kanit-medium';
    font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
    line-height: 100%;
    text-transform: uppercase;
    color: $black-color;
}

@mixin modal-input-placeholder-text {
    font-family: 'inter-medium';
    font-size: clamp(0.5rem, 0.3571rem + 0.7143vw, 1rem);
    line-height: 100%;
    color: $purple-placeholder;
}

@mixin modal-cancel {
    font-family: 'kanit-medium';
    font-size: 18px;
    line-height: 100%;
    color: $purple-color;
    text-transform: uppercase;
}

@mixin modal-apply {
    font-family: 'kanit-medium';
    font-size: 18px;
    line-height: 100%;
    color: $white-color;
    text-transform: uppercase;
}