@use 'reset';
@use 'variables' as *;
@use 'mixins' as mixins;

:root {
    --hero-search-input-border: 1px solid #6C63FF;
    --html: #fff;
    --hero-title: #252525;
    --modal-bg: #fff;
    --modal-buttons-cancel-bg: #F7F7F7;
    --modal-title: #252525;
    --hero-search-input-area: #252525;
    --modal-input: #252525;
    --notes-list-item-content: #252525;
    --hero-search-filter-choice: #fff;
    --hero__search-input-area-ph:#C3C1E5;
}

.dark {
    --hero-search-input-border: 1px solid #F7F7F7;
    --html: #252525;
    --hero-title: #F7F7F7;
    --modal-bg: #252525;
    --modal-buttons-cancel-bg: #252525;
    --modal-title: #F7F7F7;
    --hero-search-input-area: #F7F7F7;
    --modal-input: #F7F7F7;
    --notes-list-item-content: #F7F7F7;
    --hero-search-filter-choice: #252525;
    --hero__search-input-area-ph:#666666;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.special-img {
    max-width: none;
}

.html {
    background-color: var(--html);
    &.modal-bg{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 50;
    }
}

.hero {
    &__title {
        @include mixins.title-text;
        text-transform: uppercase;
        justify-self: center;
        margin-top: 40px;
        color: var(--hero-title);
    }

    &__search {
        margin-top: 18px;
        display: flex;
        gap: 16px;

        &-input {
            padding: 0 16px 0 16px;
            display: flex;
            justify-content: space-between;
            width: 70%;
            min-height: 38px;
            border: var(--hero-search-input-border);
            border-radius: 5px;

            &-area {
                align-self: center;
                width: 70%;
                height: 90%;
                z-index: 2;
                color: var(--hero-search-input-area);

                &::placeholder {
                    @include mixins.placeholder-text;
                    color: var(--hero__search-input-area-ph);
                }
            }

            &-img {
                width: 21px;
                display: flex;
                justify-self: end;
            }
        }

        &-filter {
            position: relative;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
            padding: 10px;
            min-width: 85px;
            background-color: $purple-color;
            box-sizing: border-box;

            &-name {
                align-self: center;
                @include mixins.filter-text;
            }

            &-img {
                width: 7px;
                height: 4px;
            }

            &-choice {
                position: absolute;
                top: 39.6px;
                left: 0;
                display: none;
                flex-direction: column;
                padding: 8.4px 0;
                z-index: 2;
                border: 1px solid $purple-color;
                border-radius: 5px;
                width: fit-content;
                box-sizing: border-box;
                background-color: var(--hero-search-filter-choice);

                &-text {
                    @include mixins.choice-text;
                    padding: 3.4px 0 4.6px 0;

                    span {
                        margin-left: 6px;
                        margin-right: 6px;
                    }
                    &:hover {
                        background-color: $purple-op20-color;
                        
                    }
                }

                &.open {
                    display: flex;
                }
            }
        }

        &-dark-theme {
            border: none;
            padding: 8px;
            border-radius: 8px;
            background-color: $purple-color;
        }
    }
}

.notes {
    height: 575px;
    position: relative;

    &__add-button {
        position: absolute;
        bottom: 32px;
        right: 23px;
        background-color: $purple-color;
        border-radius: 25px;
        padding: 13px;
    }

    &__list {
        max-width: 520px;
        margin-top: 30px;
        margin: 13px auto 0 auto;
    }

    &__list-item {
        display: flex;
        padding: 17px 0 17px 0;
        border-top: 1px solid $purple-color;

        &:nth-child(1){
            border-top: none;
        }

        &.hidden{
            display: none;
        }

        &:not(.hidden):first-of-type{
            border-top: none;
        }

        &.search-hidden{
            display: none;
        }

        &.search-hidden + .notes__list-item {
            border-top: none;
        }

        &-checkbox {
            width: 26px;
            height: 26px;
            margin: 0;
            margin-right: 7px;

            &:checked ~ .notes__list-item-content .notes__list-item-content-text {
                text-decoration: line-through;
                color: #8e8e8e;
            }

        }

        &-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: var(--notes-list-item-content);

            &-text{
                align-self: center;
                font-family: 'kanit-medium';
                font-size: 20px;
                line-height: 100%;
                text-transform: uppercase;

                &.dark{
                    color: $white-color;
                }
            }

            &-img{
                display: flex;
                gap: 10px;

                &-edit,&-delete{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

.modal {
    position: relative; 
    z-index: 91;
    width: 500px;
    max-height: 90vh;
    background: var(--modal-bg);
    border-radius: 16px;
    padding: 24px 32px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.25);

    &-overlay {
        position: fixed;
        top:0 ;
        right:0 ;
        bottom:0 ;
        left:0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 90;
        display: none;
        justify-content: center;
        align-items: center;

        &.open {
            display: flex;
        }
    }

    &__title {
        @include mixins.modal-title-text;
        color: var(--modal-title);
    }

    &__input {
        margin-top: 26px;
        border: 1px solid $purple-color;
        padding: 0 0 0 16px;
        border-radius: 5px;
        height: 38px;
        width: 100%;
        color: var(--modal-input);

        &::placeholder {
            margin-left: 16px;
            @include mixins.modal-input-placeholder-text;
        }
    }

    &__buttons {
        display:flex;
        justify-content: space-between;
        gap: 233px;
        margin-top: 128px;
        justify-self: flex-end;

        &-cancel {
            background-color: var(--modal-buttons-cancel-bg);
            padding: 10px 22px;
            border: 1px solid $purple-color;
            border-radius: 5px;
            @include mixins.modal-cancel;
        }

        &-apply {
            background-color: $purple-color;
            padding: 10px 22px;
            border-radius: 5px;
            @include mixins.modal-apply;
        }
    }
}