@use 'reset';
@use 'variables' as *;
@use 'mixins' as mixins;
@use 'hero';
@use 'modal';
@use 'notes';

:root {
    --hero-search-input-border: 1px solid #6C63FF;
    --html: #fff;
    --hero-title: #252525;
    --modal-bg: #fff;
    --modal-buttons-cancel-bg: #F7F7F7;
    --modal-title: #252525;
    --hero-search-input-area: #252525;
    --modal-input: #252525;
    --notes-list-item-content: #252525;
    --hero-search-filter-choice: #fff;
    --hero__search-input-area-ph:#C3C1E5;
}

.dark {
    --hero-search-input-border: 1px solid #F7F7F7;
    --html: #252525;
    --hero-title: #F7F7F7;
    --modal-bg: #252525;
    --modal-buttons-cancel-bg: #252525;
    --modal-title: #F7F7F7;
    --hero-search-input-area: #F7F7F7;
    --modal-input: #F7F7F7;
    --notes-list-item-content: #F7F7F7;
    --hero-search-filter-choice: #252525;
    --hero__search-input-area-ph:#666666;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.special-img {
    max-width: none;
}

.html {
    background-color: var(--html);
    &.modal-bg{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 50;
    }
}
